In [2]:
import pandas as pd

In [3]:
file=pd.read_csv("data.csv")
file

   sno     name  roll no
0    1   rajesh      301
1    2  rajesh1      302
2    3  rajesh2      303
3    4  rajesh3      304
4    5  rajesh4      305
5    6  rajesh5      306

In [5]:
file.to_html("data.html")